@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: local('Chivo Black'), local('Chivo-Black'), url(https://fonts.gstatic.com/s/chivo/v7/YWbtYk2MoHeFgZxEOX7DnvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
